<html>
  <head>
    <title>Dockerfile</title>
    <style>
	h1,h2 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
    </style>
  </head>
  <body style="background-color:lemonchiffon;">
  <!--colors=powderblue;wheat;plum;lightpink;lemonchiffon;gold -->
    <div class="container">
      <h1>Hello!</h1>
      <h2>This is my testing app</h2>
      <p>Hello everyone, This is running via Docker container</p>
      <img src="../static/kitten_small.jpg" />
    </div>
  </body>
</html>
